  <div class="title">
    <center>
      <%= link_to (image_tag('guitar-crop.jpg', class: "hero")), new_user_path %>
    </center>
  </div>
  <% if @history.count < 1 %>
    <h3>Popular Items:</h3>
    <% items = @popular_items %>
  <% else %>
    <h3>Suggestions based on items you have viewed</h3>
    <% items = @history %>
  <% end %>
  <div class="row">
    <% items.each do |item| %>
      <div class="center-block">
        <div class="card border-white" style="width: 15rem;">
          <%= cl_image_tag item.image, class: "card-img-top" %>
          <div class="card-body">
            <center><p><%= link_to item.title, item_path(item) %></p></center>
              <p>Description: <%= item.description %></p>
              <p>Price: $<%= item.price %></p>
              <% unless item.retired? %>
                <%= link_to "Add to cart", cart_path(item_id: item.id), method: :post, class: "btn btn-primary btn-sm" %></center>
              <% else %>
                <h5><span class="badge badge-secondary">Retired</span></h5>
              <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
