  <% if current_user  %>
    <h3> <%= current_user.first_name %>'s  Cart</h3>
  <% else %>
    <h3> Your Cart </h3>
  <% end %>
  <h6><%= link_to "Continue Shopping", root_path %></h6>
  <center>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
          <th>Price</th>
          <th>Quantity</th>
          <th></th>
          <th></th>
          <th>Subtotal</th>
        </tr>
        <tbody>

          <% @cart.cart_items.each do |item| %>
            <div class="item-#{item.id}">
              <tr>
                <th scope="row"><strong><%= link_to item.title, item_path(item) %></strong></th>
                <td><%= cl_image_tag item.image%></td>
                <td>$<%= item.price %></td>
                <td><%= @cart.quantity_of(item.id) %></td>
                <td><%= link_to "-", cart_path(id: item.id, condition: "decrease"), action: :update, method: :patch, class: "badge badge-warning" %>
                <%= link_to "+", cart_path(id: item.id, condition: "increase"), action: :update, method: :patch, class: "badge badge-info" %></td>
                <td><%= link_to "Remove", cart_path(id: item.id), method: :delete, class: "badge badge-warning" %></td>
                <td>$<%= @cart.quantity_of(item.id) * item.price %></td>
              </tr>
            </div>
          <% end %>
        </tbody>
    </table>
    <div class="total">
      <% @cart.cart_items.each do |item| %>
        <% @cart.subtotal(item) %>
      <% end %>
      <p><b>Total: <%= number_to_currency(@cart.total) %></b></p>
    </div>
    <div class="checkout">
      <% if current_user && !@cart.empty?%>
        <%= link_to "Checkout", new_order_path%>
      <% else %>
        <%= link_to "Login", login_path %> <br />
        <%= link_to "Create new account", new_user_path %>
      <% end %>
    </div>
  </center>
