<!DOCTYPE html>

<div class="container">
  <h4><%= link_to "Create New Item", new_admin_item_path, class: "badge badge-success center" %></h4>
  <div class="row">
    <% @items.each do |item| %>
      <div class="center-block">
        <div class="card border-white" style="width: 7rem;">
          <%= link_to (cl_image_tag item.image), item_path(item), class: "card-img-top" %>
          <div class="card-body">
            <center><p class='small'><strong><%= link_to item.title, item_path(item) %></strong></p>
              <!-- <p>Description: <%= item.description %></p> -->
              <footer>
                <p class='small'>Price: $<%= item.price %></p>
                <h5><%= link_to "Edit", edit_admin_item_path(item), class: "badge badge-secondary"  %></h5>
                <% unless item.retired? %>
                  <h5><%= link_to "Add to cart", carts_path(item_id: item.id), method: :post, class: "badge badge-primary" %></h5></center>
          <% else %>
            <div class="badge badge-secondary">
              Retired
            </div>
              </footer>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

</body>
