 	     <table class="table table-hover">
        <tr>
          <th>Orders</th>
          <th>Price</th>
          <th>Status</th>
          <th>Update Order</th>

        </tr>
         <% @store.store_orders.each do |order| %>
           <tr>
            <td> <%= order.id %></td>
            <td> <%= order.total_price %></td>
              <%= form_for order, url: store_order_path(order), method: :put do |f| %>
                <td><%= f.select :status, ["paid", "cancelled", "completed", "ordered"], placeholder: order.status %></td>
                <td><%= f.submit "Change Status" %></td>
            <% end %>
            <% end %>

          </tr>
          </tr>
       </table>
