 	     <table class="table table-hover">
        <tr>
          <th>Orders</th>
          <th>Price</th>
          <th>Status</th>
          <th>Update Order</th>

        </tr>
         <% @store.store_orders.each do |store_order| %>
           <tr>
            <td class = "order-id"> <%= link_to store_order.id, store_order_path(store_order) %></td>
            <td> <%= store_order.total_price %></td>
              <%= form_for store_order, url: store_order_path(store_order), method: :put do |f| %>
                <td><%= f.select :status, ["paid", "cancelled", "completed", "ordered"], placeholder: store_order.status %></td>
                <td><%= f.submit "Change Status" %></td>
            <% end %>
            <% end %>

          </tr>
          </tr>
       </table>
