<div class = "containe">
<h2><%= @store.name %></h2>
<h3><%= @store.address %></h3>
<% if @store.twitter_token.nil? && @store.twitter_secret.nil? %>
<%= link_to "Add Twitter Authorization", new_twitter_path(store: @store.id), class: "btn btn-success btn-md" %>
<% else %>
<%= button_to "Remove Twitter Authorization", remove_twitter_path(store: @store.id), method: :delete, class: "btn btn-success btn-md" %>
<% end %>
  <div class="store-edit">
    <div class="col-3">
      </br>
      <h3>Edit Your Store</h3>
      <table class="table login-form">
        <%= form_tag(edit_store_path(@store), method: :put) do  %>
          <tr>
            <td class="table-light">  <%= text_field_tag :name,nil,placeholder: "#{@store.name}"%></td>
          </tr>
          <tr>
            <td class="table-light">  <%= text_field_tag :address,nil,placeholder: "#{@store.address}" %></td>
          </tr>
          <tr class="action">
            <td class="table-light"><%= submit_tag "Submit", class: "btn btn-success btn-md" %></td>
          </tr>
        <% end %>
      </table>


        <table class="table login-form">
        <h3>Employees</h3>
        <% @store.users.all_except(current_user).each do |user| %>
          <%= user.first_name %>
          <%= user.role_at_current_store(@store) %>
          <% if user.role_at_current_store(@store) == "store_admin" %>
            <%= link_to "Change to Store Manager", employees_path(user: user.id, change: "store_manager", store_id: @store), class: "btn btn-success btn-sm" %>
          <% end %>
          <% if user.role_at_current_store(@store) == "store_manager" %>
            <%= link_to "Change to Store Admin", employees_path(user: user.id, change: "store_admin", store_id: @store), class: "btn btn-success btn-sm" %>
          <% end %>
        <% end  %>
      </table>

    </div>
  </div>
</div>
