<div class="container">
  <div class="row">
    <div class="col-3">
    <table class="table">
      <%= form_for @user do |f| %>
        <tr>
          <td class="table-light"><%= f.text_field :first_name, placeholder: "First Name"%></td>
        </tr>
        <tr>
          <td class="table-light"><%= f.text_field :last_name, placeholder: "Last Name" %></td>
        </tr>
        <tr>
          <td class="table-light"><%= f.text_field :email, placeholder: "Email" %></td>
        </tr>
        <tr>
          <td class="table-light"><%= f.password_field :password, placeholder: "Password" %></td>
        </tr>
        <tr>
          <td class="table-light"><%= f.text_field :address, placeholder: "Address" %></td>
        </tr>
        <tr>
          <td class="table-light"><%= f.submit "Submit", class: "btn btn-success btn-md" %></td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>
