
  <header id="header">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <div class="container-fluid">
      <div id="logo" class="pull-left">
        <h1><a class="title">Found Sound</a></h1>
      </div>
      <div class = "record"><%= image_tag('record.png')%></div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class ="home" ><a><i class="fas fa-home fa-2x"></i></a></li>
            <% if current_user %>
              <li>Signed in as <strong><%= current_user.name %></strong></li>
              <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
            <% else %>
              <li><%= link_to "Sign in " %></li>
            <% end %>
          <li class="menu-has-children"><a href="">Contact</a>
            <ul>
              <li><a href="https://www.github.com/zacharylandes" target="_blank">Github</a></li>
              <li><a href="https://www.linkedin.com/in/zacharylandes/"  target="_blank">Linked In</a></li>
              <li><a href="mailto:zach.g.landes@gmail.com"  target="_blank">Gmail</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>
