<h3>Edit Item</h3>
<table class="table login-form">
  <%= form_for [@store, @item] do |f| %>
    <tr>
      <th class="table-light"><%= f.label :title%></th>
      <th class="table-light"><%= f.text_field :title, placeholder: @item.title %></th>
    </tr>
    <tr>
      <th class="table-light"><%= f.label :description%></th>
      <th class="table-light"><%= f.text_area :description, placeholder: @item.description %></th>
    </tr>
    <tr>
      <th class="table-light"><%= f.label :price %></th>
      <th class="table-light">  <%= f.number_field :price, placeholder: @item.price %></th>
    </tr>
    <tr>
      <th class="table-light"><%= f.label "Item Status" %></th>
      <th class="table-light"><%= f.select :condition, ["active","retired"] %></th>
    </tr>
    <tr class="action">
      <th></th>
      <th class="table-light"><%= f.submit "Submit", class: "btn btn-success btn-md" %></th>
    </tr>
  <% end %>
</table>
