<!DOCTYPE html>
<html>
  <head>
    <title>Found Sound</title>
      <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <%=favicon_link_tag "record.png" %>
  <link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Overpass+Mono" rel="stylesheet">  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Offside|Righteous" rel="stylesheet">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <style media="screen">
    </style>
  </head>

  <body>
    <script>
      item_search_key = "<%= ENV['search_api_key']%>"
    </script>
    <%= render "layouts/nav" %>
    <div class="clearfix main">
      <div class="col col-2">
        <%= render "layouts/messages" %>
      </div>
      <div class="col col-8 main-content">
        <%= yield %>
      </div>
      <div class="col col-2">
        <% if !current_admin? %>
          <%= render "layouts/chat" %>
        <% end %>
      </div>
    </div>
    <%= render "layouts/footer" %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
