<!DOCTYPE html>
<html>
  <head>
    <title>Found Sound</title>
      <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Offside|Righteous" rel="stylesheet">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <style media="screen">
    </style>
  </head>

  <body>
    <%= render "layouts/nav" %>
    <%= render "layouts/messages" %>
    <%= yield %>
    <%= render "layouts/footer" %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
