<!DOCTYPE html>
<html>
  <head>
    <title>Found Sound</title>
      <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Offside|Righteous" rel="stylesheet">  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <style media="screen">
    </style>
  </head>

  <body>
    <div class="container">
      <%= render "shared/nav" %>
      <% if flash.count > 0  %>
        <div class="center-block" style= "width: 15rem;">
          <div class="alert alert-primary alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          <% end  %>
          <% flash.each do |name, msg| %>
            <%= content_tag :div, raw(msg), class: name %>
          <% end %>
          </div>
        </div>
        <%= yield %>
    <footer id="footer">
      <a href="https://www.github.com/zacharylandes" target = "_blank"><i class="fab fa-github fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/zacharylandes/"  target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
    </a>

   </footer>
    </div>
  </body>
</html>
